<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guoli.hotel"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GuoliApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.guoli.hotel.activity.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.hotel.SearchHotelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HotelSearchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HotelsMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MoreActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.HelpActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.FeedBackActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.user.AccountActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.user.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.order.EditOrderActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.user.ForgetPasswordActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.hotel.HotelDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.user.RegisterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.HotelLocationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.HotelInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.hotel.DateSelectActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.OccupancyDateSelectActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.LeaveDateSelectActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.hotel.CitySelectActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PriceListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.LevelListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.hotel.AreaListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.HotelListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.FavoriteActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.order.OrderAuthenticActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.OrderHotelListAcivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.user.EditUserInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.user.EditPasswordActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.hotel.HotelCountActivityty"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.MoreRequireActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.hotel.CheckListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderHotelDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PicGridActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.hotel.BigPicActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.UserSelectActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.order.CommitOrderSuccessActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.order.OrderConfirmActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>